php_value display_errors 1
php_value display_startup_errors 1
php_value error_reporting E_ALL

AddDefaultCharset UTF-8
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule .* http://%1/$0 [L,R=301]

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_USER_AGENT} !MSIE\s6 [NC]
#RewriteCond %{HTTP_USER_AGENT} !Windows\sNT\s5 [NC]
#RewriteCond %{HTTP_USER_AGENT} !Windows\sXP [NC]
#RewriteCond %{HTTP_USER_AGENT} !Android.*(Mobile)?\ [0-3] [NC]
#RewriteCond %{HTTP_USER_AGENT} !^(.*.symbian.*) [NC]
#RewriteCond %{HTTP_USER_AGENT} !^(.*.blackberry.*) [NC]
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]





# Редирект с www на без www
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule .* https://%1/$0 [L,R=301]

# Редирект с https://uaz.store/catalog/index на https://uaz.store/catalog
<IfModule mod_alias.c>
    Redirect 301 /catalog/index https://uaz.store/catalog
</IfModule>

# Редирект с https://uaz.store/index.php на https://uaz.store/
<IfModule mod_alias.c>
    Redirect 301 /index.php https://uaz.store/
</IfModule>