@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Regular.eot');
    src: local('☺'), url('fonts/ProximaNova-Regular.woff') format('woff'),
        url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-ExtraBold.eot');
    src: local('☺'), url('fonts/ProximaNova-ExtraBold.woff') format('woff'),
        url('fonts/ProximaNova-ExtraBold.ttf') format('truetype'), url('fonts/ProximaNova-ExtraBold.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Bold.eot');
    src: local('☺'), url('fonts/ProximaNova-Bold.woff') format('woff'),
        url('fonts/ProximaNova-Bold.ttf') format('truetype'), url('fonts/ProximaNova-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

html, body { height: 100%; }

body { font-family: 'ProximaNova', sans-serif; font-size: 14px; color: #ffffff; position: relative;
    background-color: #000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body:before { content: ""; position: fixed; width: 100%; height: 100%; left: 0; top: 0;
    background: url("/img/bg.jpg") no-repeat center top; background-size: cover; z-index: 0; }
body::after { content: 'mobile'; display: none; }

.wrap { min-height: 100%; height: auto; margin: 0 auto -68px; position: relative;
    background-color: rgba(0,0,0,0.55); overflow: hidden; min-width: 400px; }

.wrap > nav { background: none; border: none; }
.wrap > nav > .container { background-color: rgba(0,0,0,0.65); min-height: 70px; border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2); }

.wrap > .container { padding: 85px 15px 20px; min-height: 100vh; background: url("/img/main1.jpg") no-repeat center center; background-size: cover; }

h1 { font-size: 24px; text-transform: uppercase; }
h2 { font-size: 22px; text-transform: uppercase; }
h3 { font-size: 20px; text-transform: uppercase; }
div.separator { width: 45px; height: 2px; background-color: #c6c6c6; margin: 15px auto; border-bottom: 1px solid #a9a9a9; }
a { color: #ecb52d; }
a:hover { color: #ecb52d; }

a.link-icon { display: inline-block; width: 38px; line-height: 38px; padding: 0; border: 1px solid; text-align: center;
	margin-right: 8px; color: #979797; font-size: 15px; }
a.link-icon:hover { color: #fff; }
a.link-icon:focus { outline: none; }
.icon-link-outer { position: relative; display: inline-block; }

.tooltip .tooltip-inner { border: 1px solid #b78e29; color: #ecb52d; background-color: #424242; border-radius: 0; line-height: 19px; }
.tooltip.top .tooltip-arrow { border-top-color: #b78e29; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #b78e29; }

.modal-header { text-transform: uppercase; }
.modal-header .close { opacity: 0.7; color: #ffffff; outline: none; }
.modal-header .close:hover { opacity: 1; }
.modal-content { border-radius: 0; background-color: rgba(66,66,66,1); }
.modal-fm { width: 400px; margin: 45px auto; }

footer { height: 68px; position: relative; bottom: 0; width: 100%; }
footer > .container { height: 100%; padding-top: 14px; background-color: rgba(0,0,0,0.5);
    border-top: 1px solid rgba(0,0,0,0.2); line-height: 38px;
}
footer .footer-left { padding-left: 0; padding-right: 25px; }
footer .footer-right { padding-right: 0; padding-left: 25px; }
footer a.link-icon.social { background-color: #4e6588; text-decoration: none; font-weight: bold; color: #fff;
	margin-right: 0; font-size: 20px;
}
footer .tooltip .tooltip-inner { white-space: nowrap; }
footer .pull-left .tooltip.top { left: 0 !important; }
footer .pull-left .tooltip.top .tooltip-arrow { left: 19px !important; }
footer .pull-right .tooltip.top { left: initial !important; right: 0; }
footer .pull-right .tooltip.top .tooltip-arrow { left: initial !important; right: 14px; }

footer .footer-right a { color: #fff; }
footer .footer-left .pull-right span,
footer .footer-right .pull-left span,
footer .footer-right .pull-left i { color: #ecb52d; }
footer .footer-left .pull-right span.glyphicon,
footer .footer-right .pull-left span.glyphicon { font-size: 17px; top: 4px; padding-right: 8px;}
footer .footer-right .pull-left a:hover { text-decoration: underline; }

.jumbotron { text-align: center; background-color: transparent; padding-top: 100px; }

.navbar-brand { height: 68px; padding: 11px 15px; }

.navbar-inverse .navbar-nav > li > a { color: #ffffff; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #ecb52d;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #ecb52d;
	cursor: default;
	background-color: transparent;
}

.navbar-toggle { margin-top: 15px; padding: 10px 11px; border-radius: 0; }
.navbar-toggle .icon-bar { height: 3px; }

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout { padding: 15px; border: none; }
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover { text-decoration: none; }
.nav > li > form > button.logout:focus { outline: none; }

.navbar-nav.navbar-left li > a { position: relative; }
.navbar-nav.navbar-left li > a:after { position: absolute; display: block; height: 2px; width: 25px;
	background-color: #ecb52d; bottom: 7px; left: 15px; border-bottom: 1px solid #6e6347;
}
.navbar-nav.navbar-left li.active > a:after { content: ""; }

.navbar-nav { text-align: center; }
.navbar-nav > li { display: inline-block; float: none; }
.navbar-nav > li > a { line-height: 38px; }
.navbar-nav.navbar-right { padding: 15px 0; }
.navbar-nav.navbar-right > li > a { width: 38px; line-height: 38px; padding: 0; border: 1px solid; text-align: center;
	margin-right: 8px; color: #979797; font-size: 15px; }
.navbar-nav.navbar-right > li:last-child > a { margin-right: 15px; }
.navbar-nav.navbar-right a.cart-link { position: relative; }
.navbar-nav.navbar-right a.cart-link:after { content: attr(data-count); position: absolute; top: -5px; right: -5px;
	line-height: 16px; font-size: 10px; background-color: #ecb52d; display: inline-block; min-width: 16px;
	border-radius: 16px; text-align: center; color: #4e4e4e; padding: 0 3px;
}

.nav-contacts { display: inline-block; width: 100%; text-align: center; padding-bottom: 10px;  }
.nav-contacts .nav-phone { font-weight: bold; font-size: 18px; color: #ecb52d; }
.nav-contacts .nav-phone span { font-size: 14px; }
.nav-contacts .nav-email { font-size: 14px; color: #b3b3b3; }
.nav-contacts .nav-email a { color: #b3b3b3; }

.breadcrumb { display: inline-block; background-color: #424242; padding: 5px 15px; border-radius: 0; margin-bottom: 0; }
.breadcrumb > li + li:before { content: ">"; }
.breadcrumb > li a { color: #fff; }
.breadcrumb > li.active { color: #ecb52d; }

.site-btn { background-color: #ecb52d; line-height: 30px; color: #000; font-weight: bold; cursor: pointer;
	text-align: center; border: none; padding: 5px; display: inline-block;
}
.site-btn:focus { outline: 0; box-shadow: none; }
a.site-btn:hover { color: #000; }

form { width: 370px; background-color: #424242; }
form .form-group { margin: 7px 22px 7px 22px; }
form div.form-group:first-of-type { margin-top: 20px; }
form .form-group:last-of-type { margin-bottom: 15px; }
form .site-btn { width: 100%; }
form .form-control { border: 1px solid #5a5a5a; border-radius: 0; height: 32px; color: #000; }
form .form-control:focus { border-color: #ecb52d; box-shadow: none; }
form textarea.form-control { height: auto; resize: none; }
form .help-block { margin: 0; font-size: 0.9em; }
form .form-header { margin-bottom: 20px; min-height:36px; line-height: 36px; }
form .form-header > div { border: 1px solid transparent; }
form .form-header > div:first-child { border-top-color: #ecb52d; border-right-color: #ecb52d; color: #ecb52d; }
form .form-header > div:last-child { border-bottom-color: #ecb52d;  color: #999999; }
form .form-header > div:last-child a { color: #fff; }

form input[type='checkbox'], form input[type='radio'] { opacity: 0; display: none; }
form input[type='checkbox'] + label, form input[type='radio'] + label { cursor: pointer; font-weight: normal; margin-bottom: 0; }
form input[type='checkbox'] + label:before, form input[type='radio'] + label:before { content: ""; display: inline-block; vertical-align: middle;
	width: 15px; height: 15px; border: 1px solid #ecb52d; background-color: #fff; color: #000;
	margin-right: 5px; text-align: center; font-size: 15px; line-height: 15px; margin-bottom: 3px;
}
form input[type='checkbox']:checked + label:before { content: "\2714"; }
form .has-error input[type='checkbox'] + label:before { border-color: #a94442; }

form span.radio-inline { padding: 0; }
form input[type='radio'] + label:before { border-radius: 100%; }
form input[type='radio']:checked + label:before { background-color: black; border-width: 3px; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label { color: #d65c5a; }

input[type='text']::-webkit-input-placeholder { color: #999999; }
input[type='text']::-moz-placeholder { color: #999999; }
input[type='text']:-ms-input-placeholder { color: #999999; }
input[type='text']:-moz-placeholder { color: #999999; }

#alert-container { position: fixed; width: 100%; z-index: 100; bottom: 0; left: 0; padding: 0 10px; }
.alert { margin-bottom: 10px; border-radius: 0; position: relative; padding-right: 50px; }
.alert .close { position: absolute; right: 0; top: 0; font-size: 30px; line-height: 52px; padding: 0 15px; outline: none; }
.alert .close:hover, .alert .close:focus { opacity: 0.8; }

/* Main page */
main.site-index { margin: -85px -15px -20px; text-align: center; }
main.site-index section { width: 100%; min-height: 100vh; background: url("/img/main1.jpg") no-repeat center center;
	background-size: cover; padding-top: 100px; position: relative;
}
main.site-index section h1 { text-align: center; font-size: 2.4rem; }
main.site-index section h2, main.site-index section h3 { font-size: 24px; }
main.site-index section h4 { font-size: 22px; text-transform: uppercase; margin-bottom: 15px; }
main.site-index section h5 { font-size: 20px; text-transform: uppercase; margin-top: 20px; margin-bottom: 15px; }
main.site-index section p { font-size: 14px; }
main.site-index section:nth-of-type(2) { background-image: url("/img/main2.jpg"); }
main.site-index section:nth-of-type(3) { background-image: url("/img/main3.jpg"); }

main.site-index > nav { width: 100%; height: 100%; left: 0; top: 0; }
main.site-index > nav > ul { position: absolute; margin: -60px 0 0; padding: 0; z-index: 1; right: 3%;
    top: 50%; bottom: auto; display: none; list-style: none;
}
main.site-index > nav > ul a { display: block; height: 20px; width: 20px; overflow: hidden; text-indent: 100%;
    white-space: nowrap; background-color: #888888; opacity: 0.7; margin-bottom: 20px;
}
main.site-index > nav > ul a.active { opacity: 1; background-color: #ecb52d; cursor: default; }
main.site-index > nav > ul a:hover { opacity: 1; -webkit-transition: opacity 0.2s 0s; -moz-transition: opacity 0.2s 0s;
    transition: opacity 0.2s 0s;
}
.blocks-list { width: 90%; margin: 0 auto; padding-top: 20px; }
.blocks-list > div { padding: 0 30px; }
.blocks-list > div a { display: block; max-width: 290px; height: 290px; border: 3px solid #e8e8e8; margin: 0 auto 25px;
	background: url("/img/block2.png") no-repeat center center; background-size: cover; font-size: 18px;
	color: #fff; font-weight: bold; text-decoration: none;
}
.blocks-list > div a:hover { border-color: #d8a937; color: #d8a937; }
.blocks-list > div:first-child a { background-image: url("/img/block1.png"); }
.blocks-list > div:last-child a { background-image: url("/img/block3.png"); }
.blocks-list > div a .icon { height: 50%; }


.products-list { width: 90%; margin: 0 auto; padding-top: 20px; }

.product-item { display: inline-block; vertical-align: top; width: 250px; height: 300px; margin: 0 7px 25px 7px;
	background-color: #fff; color: #000000; border: 1px solid #949594; padding: 78px 13px 40px 13px; position: relative;
	text-align: left;
	-webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    0 0 14px 0 rgba(0, 0, 0, 0.8);
	box-shadow:         0 0 14px 0 rgba(0, 0, 0, 0.8);
	overflow: hidden;
}
.product-item:hover {
	-webkit-box-shadow: 0 0 14px 0 rgba(236, 181, 45, 0.8);
	-moz-box-shadow:    0 0 14px 0 rgba(236, 181, 45, 0.8);
	box-shadow:         0 0 14px 0 rgba(236, 181, 45, 0.8);
}
.product-item .title { position: absolute; height: 60px; left: 0; top: 13px; padding: 0 13px; max-height: 180px;
	background-color: #fff; overflow: hidden;
}
.product-item .title:hover { height: auto; }
.product-item .image { height: 125px; border-top: 1px solid #edba3b; border-bottom: 1px solid #edba3b;
	text-align: center; line-height: 120px;
}
.product-item .image img { max-height: 120px; vertical-align: middle; }
.product-item .code { line-height: 26px; font-size: 13px; color: #505050; }
.product-item .price b { font-size: 16px; }
.product-item .site-btn { position: absolute; bottom: 0; left: 0; width: 100%; }

.main-about { width: 80%; margin: 10px auto 65px; border: 1px solid #edba3b; padding: 15px; text-align: left; }
/* Main page END */

/* User */

/* User END */

@media (max-width: 767px ) {

	body { font-size: 16px; }

	.wrap { margin-bottom: -116px; }
	footer { height: 116px; }
	footer .footer-left { padding-right: 0; }
	footer .footer-right { padding-left: 0; }

	.wrap > nav > .container { background-color: #080808; }

	.navbar-inverse .navbar-collapse,
	.navbar-inverse .navbar-form { background-color: #080808; }

	.navbar-nav.navbar-left > li { width: 48%; }
	.navbar-nav.navbar-left > li:nth-child(even) { text-align: right; }
	.navbar-nav.navbar-left > li:nth-child(odd) { text-align: left; }
	.navbar-nav.navbar-left > li > a { font-weight: normal; line-height: 20px; }
	.navbar-nav.navbar-left > li:nth-child(even).active a:after { left: initial; right: 15px; }

	.navbar-nav.navbar-right { padding: 10px 0; margin: 10px; border-top: 1px solid #999; border-bottom: 1px solid #999; }

	main.site-index section p { font-size: 16px; }

	.main-about { margin-bottom: 135px; }
}

@media(min-width:768px) {

    .wrap { width: 750px; }

	.wrap > .container { padding-top: 125px; }

    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
	.navbar-nav.navbar-left { width: 445px; overflow: hidden; padding: 15px 0; }
	.navbar-nav.navbar-left > li > a { padding-bottom: 0; padding-top: 0; }

	.nav-contacts { margin-top: -15px; }
}

@media(min-width:992px) {

    body { overflow: hidden; }
    body::after { content: 'desktop';}

    .wrap { width: 970px; padding: 0 0 68px; }
	.wrap > .container { padding-top: 85px; }

    footer { position: fixed; }

	.nav-contacts { float: right; padding: 12px 30px; text-align: right; width: auto; margin: 0; }

    /* Main page */
    main.site-index {/*margin: 0;*/ }
    main.site-index .sections-container { position: absolute; left: 0; top: 0; width: 100%; height: 100vh; }
    main.site-index > nav > ul { display: block; }

	.blocks-list > div a { height: 230px; font-size: 16px; }
	.blocks-list { padding-top: 45px; position: absolute; left: 5%; top: 50%; margin-top: -140px; }

	.products-list { padding-top: 45px; position: absolute; left: 5%; top: 50%; margin-top: -170px; }
	.product-item { width: 180px; }

	.main-about { position: absolute; left: 10%; top: 50%; margin-top: -150px; }
	/* Main page END */
}

@media(min-width:1200px) {

    .wrap { width: 1170px; }

	.blocks-list > div a { height: 290px; font-size: 18px; }
	.blocks-list { padding-top: 20px; }


}
